@page
@using Common
@model CompletedTasksModel
@{
    ViewData["Title"] = "Completed Tasks";
    ViewData["CurrentPage"] = "completedTasks";
}

@if (!Model.CompletedTasks.Any())
{
    <p class="empty-completed-tasks-list alert alert-success mb-5" role="alert">No tasks have been completed yet.</p>
}

@if (Model.CompletedTasks.Any())
{
    <ul class="completed-tasks-list mb-5">
        @foreach (var task in Model.CompletedTasks)
        {
            <li>
                <span>@task.Description</span>
                <span title="@DateTimeUtils.FormatShortDateTime(task.CompletedDate)" class="text-secondary ps-2">@DateTimeUtils.FormatRelativeDate(task.CompletedDate)</span>
            </li>
        }
    </ul>
}